* {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

html, body {
    background-color: #151515;
    color: white;
    font-family: sans-serif, Consolas;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    padding: 40px;
}

li{
    list-style: none;
    background-color: #202020;
    border: 1px solid black;
}

li a{
    text-decoration: none;
    color: white;
}

li a:hover{
    color: mediumpurple;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}





